.regular{
    min-width: 197px;
    min-height: 36px;
    padding: 12px;
    margin-bottom: 12px;
}

.regular_input{
    min-width: 128px;
    min-height: 36px;
    padding: 12px;
    margin-bottom: 12px;
}